<navbar id="layer1">

    <div class="part1">
        <!-- logo -->
        <a href="/"><img src="/resources/logo6.png" class="logoimg" alt="logo of site"> </a>
    </div>
    <div class="part2">


        <form action="/search" method="POST" class="search">
            <input type="search" name="search" class="search-field" placeholder="Search Product, Brand">
            <button type="submit" class="searchbtn">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
    </div>

    <div class="part3">
        <!-- login-signup -->
        <div class="login-signup">

            <% if (isAuthenticated) { %>
                <p>
                    <a href="/user/profile">
                        <i class="fa-solid fa-user fa-lg"> </i>
                        <%= username %>
                    </a>
                </p>
                <!-- Other content for authenticated users -->
                <% } else { %>
                    <p>
                        <i class="fa-solid fa-user fa-lg"> </i>
                        <a href="/user/login" class="ls">Login</a>
                        or
                        <a href="/user/register" class="ls">Sign Up</a>
                    </p>
                    <% } %>

        </div>

        <div class="wish-order-cart">
            <a href="/user/orders" class="cc"><i class="fa-solid fa-bag-shopping fa-xl"></i>
                &nbsp; Orders
            </a>

            <a href="/user/cart" class="cc">
                <i class="fa-solid fa-cart-shopping fa-xl"> </i>
                &nbsp; Cart
            </a>
            <a href="/user/wishlist/" class="cc">
                <i class="fa-regular fa-heart fa-xl"> </i>
                &nbsp; Wishlist
            </a>

        </div>
        <!-- wishlist & cart -->

    </div>

    </div>
    <!-- sublayer 1 ends -->

    <!-- subplayer 2 starts -->

    <!-- sublayer 1 ends -->


</navbar>