<%-include('partials/head')%>
    <link rel="stylesheet" href="/css/categories.css">
    <title>Categories</title>



</head>


<body>


<%- include('partials/navbar') %>

    <!-- layer2 -->

    <div id=layer2>

        <!-- kajdjkshfkdjskjfk -->
        <div class="category-set">
            <h1>Shop by Category</h1>
            <h2>Find whats right for you...</h2>

            <div class="block">

                <div class="items">
                    <a href="category/Laptops">
                        <img src="resources/laptop2.jpeg" alt="">
                        <h3>Laptops</h3>
                    </a>
                </div>

                <div class="items">
                    <a href="category/Smartphones">
                        <img src="resources/iphoneset.jpeg" alt="">
                        <h3>Mobile</h3>
                    </a>
                </div>
                <div class="items" class="bre">
                    <a href="category/Tablets">
                        <img src="resources/tab.jpeg" alt="">
                        <h3>Tablets</h3>
                    </a>
                </div>

                <div class="items">
                    <a href="category/Smart_Wearables"><img src="resources/swatch.jpeg" alt="">
                        <h3>Smart Wearables</h3>
                    </a>

                </div>
                <div class="items">
                    <a href="category/Audio_Devices"> <img src="resources/earphones.jpeg" alt="">
                        <h3>Audio Devices </h3>
                    </a>
                </div>

                <div class="items">
                    <a href="category/Accessories">
                        <img src="resources/lap.jpeg" alt="">
                        <h3>Accessories</h3>
                    </a>
                </div>

            </div>

        </div>



        <!-- dskjjksjhshasdkasdka -->

        <div class="Banner">
            <a href="./elecl.html"><img src="resources\lap.png" class="zx" alt=""></a>

            <a href="./prohtml/acce_hpwireless.html"><img src=".\resources\hp.png" class="zx1" alt=""></a>


        </div>

        <!-- sdhshdjhsdhjsahdsskdsjhdjkf -->

        <div class="most-bought-items">

            <h1>Most Purchased Items</h1>
            <h2>Upto 40% off</h2>
            <span>
                <h3>Buy Now</h3>
            </span>

            <div class="prodemo">
                <div class="pro"> <a href="elecsmartw.html">
                        <img src="resources\p1.png" alt="">
                    </a></div>

                <div class="pro"> <a href="prohtml/laptop_lenovo.html">
                        <img src="resources\p333.png" alt="">
                    </a></div>

                <div class="pro"> <a href="prohtml/tab_samsung.html">
                        <img src="resources\p4.png" alt="">
                    </a></div>

                <div class="pro"> <a href="prohtml/audio_airdope.html">
                        <img src="resources\p22.png" alt="">
                    </a></div>

                <div class="pro"> <a href="prohtml/mobile_poco.html">
                        <img src="resources\p.png" alt="">
                    </a></div>
                <div class="pro"> <a href="elecacces.html">
                        <img src="resources\p6.png" alt="">
                    </a></div>

            </div>
        </div>


        <!-- dkjkjsfjksfdhkd kfljdklfjkdlsjfkldsjkldsjljfdskljl -->

        <div class="context">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate, sit commodi esse ea tenetur
                obcaecati
                est, deserunt temporibus illo, magni quibusdam perspiciatis eum eaque voluptate. Distinctio cumque
                itaque
                veritatis amet!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt culpa maxime, accusantium commodi,
                eos
                corrupti quidem, magni alias ducimus tenetur aspernatur voluptatem!
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae, magni!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, suscipit?Lorem ipsum dolor sit amet,
                consectetur adipisicing elit. Laboriosam, eaque nostrum omnis adipisci provident neque, iste quos
                odit
                laborum fugit, sequi ipsa corrupti voluptatem sapiente!

            </p>

        </div>


    </div>

    <footer>
        <div class="footerPart1">
            <div class="column logo">
                <img src="resources/logofooter.png" class="logoimg" alt="logo of site">
            </div>
            <div class="column contact">
                <h4>Contact</h4>
                <p>Address: Rudrapur, Udham Singh Nagar, <br> Uttrakhand-263153, India</p>
                <p>Phone: 696969696</p>
                <p>Visiting Hours: 00:00hrs to 7:00hrs</p>
            </div>
            <div class="column social">
                <h4>Social</h4>
                <ul class="footer-links">
                    <li><a href="https://www.instagram.com/aman_pri777/?hl=en"><i class="fa-brands fa-instagram fa-lg"></i>
                            Instagram</a></li>
                    <li><a href="#"><i class="fa-brands fa-facebook fa-lg"></i> Facebook</a></li>
                    <li><a href="#"><i class="fa-brands fa-twitter fa-lg"></i> Twitter</a></li>
                    <li><a href="#"><i class="fa-brands fa-linkedin fa-lg"></i> Linkedin</a></li>
                </ul>
            </div>
            <div class="column about">
                <h4>About</h4>
                <ul class="footer-links">
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Delivery information</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms & Condition</a></li>
                </ul>
            </div>
            <div class="column app">
                <h4>Install our App</h4>
                <p>From App Store or Google Play</p>
                <div class="app-store">
                    <a href="#"><img src="resources/gpay.png" class="store-links" alt=""></a>
                    <a href="#"><img src="resources/appstore.png" class="store-links" alt=""></a>
                </div>
                <div class="pay">
                    <img src="resources/pay.png" alt="">
                </div>
            </div>
        </div>
        <div class="footerPart2">
            <div class="copyright">
                <p>&copy; justbuy (e-commerce) 2022. All rights reserved.</p>
            </div>
        </div>
    </footer>
</body>

</html>