<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Quicksand&family=Square+Peg&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/27c4e72872.js" crossorigin="anonymous"></script>

    <link rel="icon" href="../resources\shopping-cart.png">
    <link rel="stylesheet" href="css/productMain.css">



    <title>Checkout</title>

</head>
<body>
    <nav class="navbar">
        <div class="navbar-content">
            <span class="brand">My Shop</span>
        </div>
    </nav>

    <div class="main-content">
        <div class="product">
            <img src="product-image.jpg" alt="Product Image">
            <h2 class="product-name">Product Name</h2>
            <p class="product-price">$19.99</p>
            <div class="quantity">
                <label for="quantity">Quantity:</label>
                <input type="number" id="quantity" name="quantity" min="1" value="1">
            </div>
            <p class="total-price">Total: $19.99</p>
        </div>

        <a href="/buy.html">

            <button class="checkout-btn">Checkout</button>

        </a>
    </div>
</body>


    <footer>
        <div class="footerPart1">
            <div class="column logo">
                <img src="resources/logofooter.png" class="logoimg" alt="logo of site">
            </div>
            <div class="column contact">
                <h4>Contact</h4>
                <p>Address: Rudrapur, Udham Singh Nagar, <br> Uttrakhand-263153, India</p>
                <p>Phone: 696969696</p>
                <p>Visiting Hours: 00:00hrs to 7:00hrs</p>
            </div>
            <div class="column social">
                <h4>Social</h4>
                <ul class="footer-links">
                    <li><a href="https://www.instagram.com/aman_pri777/?hl=en"><i class="fa-brands fa-instagram fa-lg"></i>
                            Instagram</a></li>
                    <li><a href="#"><i class="fa-brands fa-facebook fa-lg"></i> Facebook</a></li>
                    <li><a href="#"><i class="fa-brands fa-twitter fa-lg"></i> Twitter</a></li>
                    <li><a href="#"><i class="fa-brands fa-linkedin fa-lg"></i> Linkedin</a></li>
                </ul>
            </div>
            <div class="column about">
                <h4>About</h4>
                <ul class="footer-links">
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Delivery information</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms & Condition</a></li>
                </ul>
            </div>
            <div class="column app">
                <h4>Install our App</h4>
                <p>From App Store or Google Play</p>
                <div class="app-store">
                    <a href="#"><img src="resources/gpay.png" class="store-links" alt=""></a>
                    <a href="#"><img src="resources/appstore.png" class="store-links" alt=""></a>
                </div>
                <div class="pay">
                    <img src="resources/pay.png" alt="">
                </div>
            </div>
        </div>
        <div class="footerPart2">
            <div class="copyright">
                <p>&copy; justbuy (e-commerce) 2022. All rights reserved.</p>
            </div>
        </div>
    </footer>

</html>