<%-include('partials/head')%>


    <link rel="stylesheet" href="/css/index.css">
    <title>Home</title>




    </head>

    <body>

        <%- include('partials/navbar') %>


            <div id="layer2">
                <div class="category-set">

                    <div class="block">
                        <div class="category-heading">

                            <h2>Shop by Category</h2>

                            <h4>Explore our categories</h4>
                        </div>

                        <div class="items">
                            <a href="category/Laptops">
                                <img src="resources/laptop2.jpeg" alt="">
                                <h5>Laptops</h5>
                            </a>
                        </div>

                        <div class="items">
                            <a href="category/Smartphones">
                                <img src="resources/iphoneset.jpeg" alt="">
                                <h6>Mobile</h6>
                            </a>
                        </div>
                        <div class="items" class="bre">
                            <a href="category/Tablets">
                                <img src="resources/tab.jpeg" alt="">
                                <h6>Tablets</h6>
                            </a>
                        </div>

                        <div class="items">
                            <a href="category/Smart_Wearables"><img src="resources/swatch.jpeg" alt="">
                                <h6>Smart Wearables</h6>
                            </a>

                        </div>
                        <div class="items">
                            <a href="category/Audio_Devices"> <img src="resources/earphones.jpeg" alt="">
                                <h6>Audio Devices </h6>
                            </a>
                        </div>

                        <div class="items">
                            <a href="category/Accessories">
                                <img src="resources/lap.jpeg" alt="">
                                <h6>Accessories</h6>
                            </a>
                        </div>

                    </div>

                </div>

                <!-- slider starts from here-->
                <div class="slider-container">
                    <div class="slider">
                        <div class="slide"><img src="./resources/slll.png" alt=""></div>
                        <div class="slide"><img src="./resources/sll2.png" alt=""></div>
                        <div class="slide"><img src="./resources/sll4.png" alt=""></div>
                        <div class="slide"><img src="./resources/sll3.png" alt=""></div>
                        <!-- Add more slide elements as needed -->
                    </div>
                    <button class="prev-button"><i class="fa-solid fa-chevron-left fa-lg"></i></button>
                    <button class="next-button"><i class="fa-solid fa-chevron-right fa-lg"></i></button>
                </div>


                <div class="context">
                    <p>

                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt culpa maxime, accusantium
                        commodi,
                        eos
                        corrupti quidem, magni alias ducimus tenetur aspernatur voluptatem!
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae, magni!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, suscipit?Lorem ipsum dolor sit
                        amet,
                        consectetur adipisicing elit. Laboriosam, eaque nostrum omnis adipisci provident neque, iste
                        quos
                        odit
                        laborum fugit, sequi ipsa corrupti voluptatem.
                    </p>
                </div>




                <div class="Banner">
                    <a href="/category/Laptops"><img src="resources\lap.png" alt=""></a>

                    <!-- <h1>Deal of the day 🔥</h1>
                        <a href=#>
                            <img src="resources\redmibanner.png" alt="">
                        </a>
                    -->
                </div>

                <div class="most-bought-items">
                    <h1>Most Purchased Items</h1>
                    <div class="prodemo">
                        <div class="pro"> <a href="#">
                                <img src="resources\p1.png" alt="">
                            </a></div>

                        <div class="pro"> <a href="#">
                                <img src="resources\p333.png" alt="">
                            </a></div>

                        <div class="pro"> <a href="#">
                                <img src="resources\p4.png" alt="">
                            </a></div>

                        <div class="pro"> <a href="#">
                                <img src="resources\p22.png" alt="">
                            </a></div>

                        <div class="pro"> <a href="#">
                                <img src="resources\p.png" alt="">
                            </a></div>
                        <div class="pro"> <a href="#">
                                <img src="resources\p6.png" alt="">
                            </a></div>

                    </div>
                </div>

                <div class="Banner">
                    <!-- sponsored products -->
                    <h1>Get on with gaming with Lenovo</h1>
                    <a href=#>
                        <img src="resources\idp.png" alt="">
                    </a>
                </div>

                <div class="context">
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate, sit commodi esse ea
                        tenetur
                        obcaecati
                        est, deserunt temporibus illo, magni quibusdam perspiciatis eum eaque voluptate. Distinctio
                        cumque
                        itaque
                        veritatis amet!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt culpa maxime, accusantium
                        commodi,
                        eos
                        corrupti quidem, magni alias ducimus tenetur aspernatur voluptatem!
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae, magni!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, suscipit?Lorem ipsum dolor sit
                        amet,
                        consectetur adipisicing elit. Laboriosam, eaque nostrum omnis adipisci provident neque, iste
                        quos
                        odit
                        laborum fugit, sequi ipsa corrupti voluptatem sapiente!

                    </p>
                </div>
            </div>


            <%- include("partials/footer") %>

                <script src="js/mainImgSlider.js"></script>
    </body>


    </html>