<%-include('partials/head')%>

    <link rel="stylesheet" href="/css/more.css">
    <title>Sell here</title>




    </head>


    <body>

        <%- include('partials/navbar') %>

            <div class="main">
                <h1>feature coming soon </h1>
            </div>

            <hr>
            <hr>
            <%- include ('partials/footer') %>
    </body>

    </html>