<%-include('partials/head')%>
    <link rel="stylesheet" href="css\more.css">
    <title>Customer Support</title>
   
 


</head>



    <body>
    <%- include('partials/navbar') %>

            <div class="main">
                <h1>your assistant is here </h1>
            </div>

    <hr>
    <hr>

    <%-include('partials/footer') %>
    </body>
</html>