<%- include('partials/head') %>
    <link rel="stylesheet" href="/css/login.css">
    <title>Login</title>
    </head>

    <body>
        <div id="layer1">
            <a href="/"><img src="/resources/logo6.png" class="logoimg" alt="logo of site"> </a>
        </div>




        <div id="mainbox">
            <h2>Login</h2>
            <p class="login-line">Get access to your Orders, Wishlist and More</p>

            <form method="post" action="/user/login">
                <div class="box">
                    <i class="fa fa-envelope fa-xl"></i>
                    <input type="email" name="email" id="email" placeholder="Enter Your Email" required>
                </div>

                <div class="box">
                    <i class="fa-solid fa-key fa-xl"></i>
                    <input type="password" name="password" id="password" placeholder="Enter Your Password" required>
                </div>

                <div class="reme-forgot">
                    <a href="#" class="forgopass">Forgot password?</a>
                </div>

                <button type="submit" class="button">
                    <i class="fa-solid fa-arrow-right-to-bracket ">&nbsp;</i>Login
                </button>
            </form>

            <div class="login-signup">
                <b>
                    Don't have an account?
                </b>
                <a href="/user/register" class="text signup-link"><b>
                        Signup Now
                    </b></a>
            </div>
        </div>



        <%- include('partials/footer') %>
    </body>

    </html>