<%- include('partials/head') %>

    <link rel="stylesheet" href="/css/profile.css">

    <title>

        <%=username%>

    </title>
    </head>

    <body>
        <div id="layer1">
            <a href="/"><img src="/resources/logo6.png" class="logoimg" alt="logo of site"> </a>
        </div>
        <div class="div">

            <a href="/"><i class="fa-solid fa-angles-left"></i>Go Back</a>
        </div>
        <div class="main-container">


            <div class="username">

                <img src="/resources/userProfile.gif" alt="" class="user">
                <p>

                    <%=username %>
                        <br>

                        <a href="/user/profile/update">
                            <i class="fa-solid fa-pencil"></i>Edit profile
                        </a>
                        <br>
                        <a href="/user/logout">
                            <i class="fa-solid fa-arrow-right-from-bracket"></i>Logout</a>



                </p>


            </div>

            <div class="block">

                <a href="#" class="block-container">


                    My Orders




                </a>
                <a href="#" class="block-container">


                    My Wishlist



                </a>
                <a href="#" class="block-container">


                    My Cart



                </a>
            </div>
        </div>

        <%-include('partials/footer')%>
    </body>

    </html>