/* Import external styles */
@import "stylemain.css";

/* Slide Container */
/* Slider Container */
.slider-container {
    position: relative;
    overflow: hidden;
    height: 300px;
    /* Set the desired fixed height for the slider */
}

/* Slider and Slides */
.slider {
    display: flex;
    transition: transform 0.3s ease;
    height: 100%;
    /* Ensure the slider takes full height of the container */
}

.slide {
    flex: 0 0 100%;
    height: 100%;
    /* Ensure each slide takes full height of the container */
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
    height: 100%;
  
    /* Make the images cover the entire slide container */
}

/* Navigation Buttons */
.slider-container button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    color: #333333;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}

/* Button Hover State */
button:hover {
    background-color: #f1f1f1;
}

/* Hide buttons on mobile */


/* Hide buttons on mobile */

/* Styling for ZX and ZX1 elements */
.zx h1,
.zx h3,
.zx1 h1 {
    padding-left: 1.2rem;
}

.zx img,
.zx1 img {
    width: 100%;
    height: 17.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    cursor: pointer;
}


/* Media Queries */
@media only screen and (max-width: 767px) {


    .slider-container {
            height: 170px;
            /* Set the desired fixed height for the slider */
        }
    /* Adjusting Slide Container height for smaller screens */
    .prev-button,
        .next-button {
            display: none;
        }

    /* Adjusting font size for ZX and ZX1 headings */
    .zx h1,
    .zx1 h1 {
        font-size: 20px;
        padding: 0;
        padding-left: 0.5rem;
    }

    /* Adjusting font size for ZX heading 3 */
    .zx h3 {
        font-size: 16px;
    }

    /* Adjusting image height and padding for ZX and ZX1 images */
    .zx a img,
    .zx1 a img {
        height: 8.5rem;
        padding-top: 0.3rem;
        padding-bottom: 0.5rem;
    }
}