@import "stylemain.css";
body{

    background-color: white;

}
.main{
    margin:14rem;
    text-align: center;
    justify-content: center;
}

body {
    background-color: rgb(242, 240, 240);
}

.contact-container {
    padding: 1.5rem 3rem;
    padding-top: 0rem;

}

.contact-block {
    background-color: rgb(255, 255, 255);
    z-index: 1;
    /* border: 1.5px solid rgb(220, 219, 219); */
    box-shadow: 0px 4px 3.5px 2px #bab8b9c9;
    border-radius: 1rem;
    padding: 1rem 5rem;
    height: 9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.8rem auto;
    /* margin-bottom: 2rem; */

}

.email {
    background-image: url(../resources/email.gif);
    background-size: contain;
    background-position: center;
    /* Make the background image cover the entire element */
    background-repeat: no-repeat;
    /* Prevent the background image from repeating */
    /* height: 9rem; */
}

.address {
    background-image: url(../resources/address.gif);
    background-size: contain;
    background-position: center;
    /* Make the background image cover the entire element */
    background-repeat: no-repeat;
    /* Prevent the background image from repeating */
    /* height: 9rem; */
}

.phone {
    background-image: url(../resources/call.gif);
    background-size: contain;
    background-position: center;
    /* Make the background image cover the entire element */
    background-repeat: no-repeat;
    /* Prevent the background image from repeating */
    /* height: 9rem; */
}

.contact-info {
    text-align: left;
    width: 30%
}

.contact-info p {
    transition: .3s ease-in;
}

.contact-info p:hover {
    color: rgb(0, 102, 255);
    cursor: pointer;
    transform: scale(1.02);
}